
  
  #wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
      to right,
      hsl(94, 29%, 89%),
      #f3eced,
      #dacbcb,
      #f1dddd,
      #dfd1d2
    );
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
    background: #f38379;
  }
  
 
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
    background: #ffffff;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }
  .btn:hover{
    background-color: #fdb068;
    /* background-image: linear-gradient(315deg, #ffffff 0%, #f38379 74%) */
  }
  .btn{
    background-color: #ffa047;
    /* background-image: linear-gradffffff 0%, #f38379 74%) */
  }
  
      .dropdown-menu{
        background-color: #fff;
        /* background-image: linear-gradient(315deg, #ffffff 0%, #f38379 74%) */
      }
      
      
  .dropdown{
      padding: 25px;
  }
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }