<div class="d-flex" id="wrapper" #wrapper>
    <!-- Sidebar -->
    <div class="bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"><i
                class="image"><img src="../assets/ima" width="150px" height="auto"></i></div>
        <div class="list-group list-group-flush my-3">
            <a routerLink="" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                    class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
          </div>

    <div class="container">
                                             
            <a routerLink="order" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
            ></i>Orders</a>

            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  Categories
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Add</a>
                  <a class="dropdown-item" href="#">view</a>
                  <!-- <a class="dropdown-item" href="#">Link 3</a> -->
                </div>
              </div>
              <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  product
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Add</a>
                  <a class="dropdown-item" href="#">view</a>
                  <!-- <a class="dropdown-item" href="#">Link 3</a> -->
                </div>
              </div>

          <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              priest
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Add</a>
              <a class="dropdown-item" href="#">view</a>
            </div>
          </div>
          <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              media files
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Add</a>
              <a class="dropdown-item" href="#">view</a>
              
            </div>
          </div>
            <a routerLink="order" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                ></i>Customers</a>
                <a routerLink="order" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                    ></i>Messages</a>
      </div>
      <a style="padding-left: 50px;"><button class="btn btn-primar" >Sign out</button></a>
    </div>
      